<%- include('partials/header'); -%>

<h1>home</h1>
<p><%= startingcontent %></p>

<div>
    <% posts.forEach(function(post) { %>
        <div>
            <h1><%= post.title %></h1>
            <p><%= post.content.slice(0,100) %>..<a href="/posts/<%= post.title %>">readmore.</a></p>
        </div>
    <% }) %>
</div>
<%- include('partials/footer'); -%>